.post-meta{
    display: block; 
}
.linear-gradient{
    display: block;
    position: absolute;
    padding: 0%;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    left: 0%;
    background-image: linear-gradient(to bottom right,#03031F,#03031f00);
}
.post-media{
    padding: auto;
    position: relative;
    padding: 0%;
    margin: 5px;
    top: 5%;
    width: 200px;
    height: 200px;
    z-index: 1;
    background-origin: padding-box;
    
}
.post-detail{
    height: 250px;
    width: 100%;
}
.post-title, .post-meta-data{
    position: absolute;
    left: 10%;
    z-index: 3;

    
}
.post-title{
    top: 25%;
    font-size:72px;
    
}
.post-meta-data{
    bottom: 25%;
}
.post-text{
    width: 70%;
}