{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark sticky-top shadow-sm" style="background-color: #03031f;" >
        <!-- Brand -->
        <a class="navbar-brand ms-2" href="{% url 'index' %}"> 
            <div class="logo-div">
                <img src="{% static 'kkwaxyApp/assets/SVG/logo-etendu.svg' %}" alt="" class="" width="300px" height="50px" srcset=""> 
            </div>
            {% comment %} <span style="color: white;"><strong style="color: white; ">kkwaxy</strong><span style="color: #FF4F04;">Tech</span>.</span> {% endcomment %}
        </a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        {% block app-header-links %}
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <form class="w-50 h-75 search-form nav-item ms-auto" method="post" action="{% url 'search' %}">
                        {% csrf_token %}
                        {{search_form}}
                        <button type="submit" class="input-group-text search-form-button ml-auto border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </button>
               </form> 
                {% block authenticate %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link media" href="#">
                                <div class="media-body">
                                    <h6 class="m-0">Wilfried KOUASSI</h6>
                                </div>
                                <img class="ml-3" src="..." alt="me">
                            </a>
                        </li>
                         {% comment %} <li class="nav-item">
                            <a class="nav-link" href="#">S'inscrire</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">Se connecter</a>
                        </li>  {% endcomment %}
                    </ul>
                {% endblock authenticate %}
        </div>
        {% endblock app-header-links %}
    </nav> 