{% extends 'kkwaxyApp/base.html' %}
{% load static %}
{% load blog_extras %}
{% block app-header %}
    {% include "kkwaxyApp/header.html" %} 
{% endblock app-header %}
{% block app-main %}
    <main class="container">
        <section class="row d-flex rounded mt-3">
            {% for post in posts  %}
            <article class="col-9  pl-0 pb-0 pt-0 mb-5">
                <div class="border shadow-sm rounded m-0 p-3">
                    <div class="media p-0">
                        <a href="{{post.get_absolute_url}}" class="align-self-center p-0 m-0"><img class="align-self-center img-thumbnail border-0 rounded border mt-0 mb-0 ml-0 mr-3 post-media-mini" src="{{post.media.url}}" width="200" height="200" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h2 class="">
                                <a href="{{post.get_absolute_url}} " style="color:#03031f;">{{post.title}}</a>
                            </h2>
                            <hr>
                            <p class="post-intro">
                                {{post.intro |intro_wrap| convert_markdown|safe}}
                            </p>
                            <br>
                            <div class="d-flex p-0 m-0">
                                {% for tag in post.tags.all %}
                                        <small class="badge rounded badge-info mr-1">
                                            {{tag}}
                                        </small>
                                    {% endfor %}
                            </div>
                            {% comment %} <a href="{{post.get_absolute_url}}" class="btn btn-sm m-0 rounded-pill p-2 align-self-end text-center text-light" style="background-color: #e26702;color:white" > Lire plus...</a> {% endcomment %}
                            <span class="float-end post-meta">
                                <small class="text-muted"> <em>by </em><a href="#" style="color:#e26702;">{{post.author}},</a><strong>created</strong> {{post.created_date}}, <strong>updated</strong> {{post.updated_date}}</small>
                                <span>
                                    
                                </span>
                            </span>
                        </div>
                    </div>
            </article>
            {% empty %}
               {% block 404_template %}
               {% endblock 404_template %}
            {% endfor %}
            <aside class=" col-3">
                <!-- Sidebar -->
                <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
                    <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3 mt-4">
                        <h6 class="text-center bold">Tous les <strong>tags</strong></h6>
                
                        <div class="d-flex flex-wrap align-items-start p-0 mb-3 ">
                        {% for tag in tags.all %}
                            <a href=" {% url 'search_tag' tag.name %} ">
                            <small class="badge rounded badge-info mr-1">
                                {{tag}}
                            </small>
                            </a>
                        {% endfor %}
                    </div>
                        
                    </div>
                    </div>
                </nav>
                <!-- Sidebar -->
            </aside>
        </section>
    </main>
{% endblock app-main %}