{% extends 'kkwaxyApp/base.html' %}
{% load static %}
{% load blog_extras %}
{% block app-header %}
{% include "kkwaxyApp/header.html" %} 
{% endblock app-header %}
{% block app-main %}
    <main class="container">
        <section class="row d-flex rounded mt-3">
            {% for post in latest_posts  %}
            <article class="col-9  pl-0 pb-0 pt-0 mb-5">
                <div class="border shadow-sm rounded m-0 p-3">
                    <div class="media p-0">
                        <a href="{{post.get_absolute_url}}" class="align-self-center p-0 m-0"><img class="align-self-center img-thumbnail border-0 rounded border mt-0 mb-0 ml-0 mr-3 post-media-mini" src="{{post.media.url}}" width="200" height="200" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0" >
                                
                                <a href="{{post.get_absolute_url}} " style="color:#03031f;">{{post.title}}</a>
                            </h5>
                            <hr>
                            <p class="post-intro">{{post.intro |intro_wrap| convert_markdown|safe}}</p>
                            <br>
                            {% comment %} <a href="{{post.get_absolute_url}}" class="btn btn-sm m-0 rounded-pill p-2 align-self-end text-center text-light" style="background-color: #e26702;color:white" > Lire plus...</a> {% endcomment %}
                            <span class=" float-end post-meta "><small class="text-muted"> <em>by </em><a href="#" style="color:#e26702;">{{post.author}},</a><strong>created</strong> {{post.created_date}}, <strong>updated</strong> {{post.updated_date}}</small></span>
                        </div>
                    </div>
                </article>
                {% empty %}
                <h5 style="color: #FF4F04;">SORRY POST NOT AVAILLABLED</h5>
                {% endfor %}
                <aside class=" col-3"></aside>
            </section>
        </main>
        {% endblock app-main %}